<div class="border rounded shadow p-3 mx-auto" style="max-width: 50vw;">
    <div class="d-flex justify-content-between align-items-center mb-3" style="max-width: 50vw;">
        <div class="fw-light fs-6 text-secondary mx-4">{{ book?.title }}</div>
        <div class="fw-light fs-6 text-secondary mx-4">{{ author?.username }}</div>
    </div>

    <div class="overflow-auto p-3" style="max-height: 50vh; max-width: 50vw; white-space: pre-wrap;">
        {{ book?.content }}
    </div>
    <button class="btn btn-primary" (click)="getRandomBook()">Next</button>
</div>